@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --background-color: #1b1a1a;
  --background-color-2: #12121d;

  --color-scheme-1: #0C0032;
  --color-scheme-2: #190061;
  --color-scheme-3: #240090;
  --color-scheme-4: #3500d3;
  --color-scheme-5: #282828;

  --text-color: #ffffff;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.logo {
  font-size: 2.25rem;
  color: var(--text-color);
  font-weight: 500;
}

.nav-bar a {
  font-size: 1.25rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 2rem;
  transition: .2s;
}

.nav-bar a:hover,
.nav-bar a.active-tab {
  color: var(--color-scheme-4);
}

/* Place menu/hamburger icon here */


section {
  min-height: 100vh;
  padding: 5rem 9% 2rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8%;
  background: linear-gradient(
    rgba(36, 0, 144, 0.2), 
    rgba(0, 0, 0, 0.5)
  ), url(../../images/hero_background.jpg);
  background-size: cover;
  background-position: center;
}

.hero-content {
  max-width: 100rem;
  text-align: center;
}

.hero-content h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.hero-content .animate-text {
  position: relative;
  /* width: 32.8rem; */
}

.hero-content .animate-text h3 {
  font-size: 1.45rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-scheme-4);
}

.hero-content p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 2rem 0 2rem;
}

.hero-content .hero-connect {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.hero-content .hero-connect a {
  color: var(--text-color);
  font-size: 2.5rem;
}

.hero-content .hero-connect a:hover {
  color: var(--color-scheme-4);
  transition: 0.3s;
}

.hero-content .hero-connect a:active {
  color: var(--text-color);
}

.heading {
  color: var(--text-color);
  font-size: 2.5rem;
}

span {
  color: var(--color-scheme-4);
}

.projects {
  background: var(--background-color-2);
}

.projects h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3.5rem;
}

.projects-box {
  display: flex;
  /* position: relative; */
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--background-color);
  overflow: hidden;
}

.projects-box img {
  width: 100%;
  object-fit: cover;
  display: block;
}

